*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
    font-family: cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    position: relative;
}


.container h1{
    color: #fff;
